---
// src/layouts/Layout.astro
import '../styles/global.css';
import Footer from '../components/Footer.astro'; // Importação do Rodapé Global

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portal de notícias, turismo e horários de trens de Guapimirim. Fique por dentro do que acontece na cidade e na Baixada Fluminense." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		
		<title>{title}</title>

		</head>
	
	<body class="bg-ice min-h-screen flex flex-col font-sans">
		
		<div class="flex-grow">
			<slot />
		</div>

		<Footer />
	</body>
</html>